.footer{
    // position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #0B0E21;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:646px) {
        height: auto;
        
     }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
        width: 100%;

        @media screen and (max-width:900px) {
            justify-content: start;
        }
        @media screen and (max-width:646px) {
            
            flex-direction: column;  
            align-items: center;
            justify-content: center;
            gap: 35px;
            padding-top: 15px;
         }
        span{

            @media screen and (max-width:900px) {
               display: flex;
               flex-direction: column;
               align-items: start;
            }
            @media screen and (max-width:646px) {
                display: flex;
                flex-direction: column;
                align-items: center;
             }
        }
        p{
            color: white;
            letter-spacing: 1px;
            text-align: center;
            @media screen and (max-width:475px) {
                font-size: 14px;
             }
            
        }
        h4{
            text-align: center;
            color: white;
            font-weight: 400;
            @media screen and (max-width:475px) {
                font-size: 14px;
             }
        }
        div{
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            gap: 5px;  
            @media screen and (max-width:646px) {
                position:static;
                translate: none;
                justify-content: center;
                width: 100%;
                
             } 
        }
        a{
            width: 45px;
            img{
                width: 25px;
            }
        }
    }
}